<app-navbar/>
<div class="card">
  <p-toast/>
  <p-table [value]="users" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
    <ng-template #header>
      <tr>
        <th style="width:20%">Name</th>
        <th style="width:20%">Email</th>
        <th style="width:20%">Role</th>
        <th style="width:20%">Created at</th>
        <th style="width:20%"></th>
      </tr>
    </ng-template>
    <ng-template #body let-user let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="user">
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input
                pInputText type="text"
                [(ngModel)]="user.name"/>
            </ng-template>
            <ng-template #output>
              {{ user.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input
                pInputText type="email"
                [(ngModel)]="user.email"
                required/>
            </ng-template>
            <ng-template #output>
              {{ user.email }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <p-select
                [options]="roles"
                appendTo="body"
                [(ngModel)]="user.role"
                [style]="{'width':'100%'}"/>
            </ng-template>
            <ng-template #output>
              <p-tag
                [value]="user.role"
              />
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          {{ user.createdAt }}
        </td>
        <td>
          <div class="flex items-center justify-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(user)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(user)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(user, ri)"
              text
              rounded
              severity="secondary"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
